.header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        img {
            height: 16px;
            width: auto;
        }
    }

    .header_nav {
        display: none;
    
        & > a {
            padding: 1rem 4rem;
            background: linear-gradient(90deg, #00DC82 0%, #36E4DA 100%);
        }
    
        ul {
            list-style: none;
            display: block;
        
            li {
                margin-bottom: 16px;
                a {
                    color: #F1F1F1;
                  
                    &:hover {
                      text-decoration: underline;
                      background: linear-gradient(90deg, #00DC82 0%, #36E4DA 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                  }
              }
          }
      }

    .menu {
        display: block;
    }
  }

  @media screen and (min-width: 768px) {

    .header {

        .logo {
            img {
                height: 32px;
                width: auto;
            }
        }

        .header_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                justify-content: flex-end;
                margin-right: 114px;
                margin-bottom: 0;
            
                li {
                    margin-left: 4rem;
                    margin-bottom: 0px;
                }
            }
        }

        .menu {
            display: none;
        }
    }
  }