.header {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    img {
      height: 32px;
      width: auto;
    }
  }

  .header_navMobile.active {
    display: block;
    position: fixed;
    background: rgb(68, 68, 68);
    width: 60%;
    padding: 24px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 10;

    & > a {
      padding: 1rem 4rem;
      background: linear-gradient(90deg, #00dc82 0%, #36e4da 100%);
      display: block;
      margin: auto;
      text-align: center;
      color: #041712;
      font-weight: 600;
    }

    ul {
      list-style: none;
      display: block;
      margin-bottom: 32px;

      li {
        margin: 24px auto;
        text-align: center;
        display: block;

        a {
          color: #f1f1f1;
          font-size: 18px;

          &:hover {
            text-decoration: underline;
            background: linear-gradient(90deg, #00dc82 0%, #36e4da 100%);
            -webkit-text-fill-color: transparent;
          }

          &.active {
            color: #00dc82;
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .header_navMobile {
    display: none;
  }

  .header_nav {
    display: none;
  }

  .menu {
    display: block;
    width: 40px;
    height: 40px;
    z-index: 10;
    cursor: pointer;

    .hambuger {
      margin: 4px auto;
      position: relative;
      // margin: 50px auto;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;

      & span {
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        background-color: white;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2) {
          top: 12px;
        }
        &:nth-child(3) {
          top: 24px;
        }
      }

      &.active {
        margin: 0px auto;

        span {
          &:nth-child(1) {
            top: 18px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
          }

          &:nth-child(2) {
            opacity: 0;
            left: -60px;
          }

          &:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .header {
    .logo {
      img {
        height: 32px;
        width: auto;
      }
    }

    .header_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > a {
        padding: 1rem 2rem;
        background: linear-gradient(90deg, #00dc82 0%, #36e4da 100%);
        color: #041712;
        font-weight: 600;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin-right: 114px;
        margin-bottom: 0;

        li {
          margin-left: 3rem;
          margin-bottom: 0px;

          a {
            color: #f1f1f1;

            &:hover {
              text-decoration: underline;
            }

            &.active {
              color: #00dc82;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
      }
    }

    .menu {
      display: none;
    }
  }
}
