.STS_PageWrapper {
    .heroSection {

        .contentWrapper {
            text-align: center;
            .ctaWrapper {
                a.primaryButton {
                    margin: auto;
                }
            }
            span {
                color: #0ADE93;
            }
        }

        .imageWrapper {
            img {
                width: 100%;
            }
        }
    }

    .strategySection {

        .DSL_strategy {

          .strategy_cards {
            display: flex;
            overflow-x: auto;
            .card {
                background: #0C0D10;
                border: 1px solid #231F20;
                margin-right: 32px;

                &:last-of-type {
                    margin-right: 0;
                }

                img {
                    width: 264px;
                }

                div {
                    padding: 24px;

                    h5 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 24px;
                        color: #A5ACAF;
                        display: block;
                    }
                    }
                }
            }  

        }

        .offering {
            .offering_cards {
                display: flex;
                overflow-x: scroll;
                padding-top: 40px;
                
                .card {
                    background: #0C0D10;
                    border: 0.8125px solid #231F20;
                    padding: 12px;
                    display: flex;
                    height: 100px;
                    margin-right: 16px;
                    
                    align-items: center;
                    position: relative;

                    &:nth-child(even) {
                        margin-top: 124px;
                    }

                    p {
                        min-width: 90px;
                    }

                    span {
                        padding: 16px;
                        border-radius: 32px;
                        height: 12px;
                        width: 12px;
                        text-align: center;
                        border: 1px solid white;
                        position: absolute;
                        top: -24px;
                        left: 24px;
                    }
                }
            }
        }
        
    }

    .openSlotSection {

        .should_Flex {
            margin-top: 64px;
        }

        & > div {

            &:nth-of-type(2) {
                flex-direction: row-reverse;
            }

            .contentWrapper {
                background: #0C0D10;
                border: 1px solid #1E1E22;
                box-shadow: 0px 0px 20px rgba(0, 244, 175, 0.32);
                padding: 24px;
            }

            .imageWrapper {
                // height: 384px;
                // transform: translateX(-150px);
                display: none;
            }
        }
    }

    .admission_process_Section {
        .processWrapper {
            .steps {
                .step {
                    display: flex;
                    margin-bottom: 64px;
    
                    & > div {
                        display: inline-flex;
                        margin-left: 32px;

                        .iconHolder {
                            background: #0C0D10;
                            border: 0.752727px solid #231F20;
                            height: 48px;
                            width: 48px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            // display: none;
                        }
    
                        div {
                            margin-left: 24px;
                            span {
                                font-size: 12px;
                                line-height: 140%;
                                color: #7d8182;
                            }
                            p {
                                font-size: 12px;
                                max-width: 200px;
                            }
                            
                        }

                    }
    
                    h2 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 32px;
                        width: auto;
                        line-height: 48px;
                        color: #1E1E22;
                    }
                }
            }

            .imageWrapper {
                display: none;
            }
        }
    }  
}

@media only screen and (min-width: 600px) {
    .STS_PageWrapper {
        .heroSection {

            .contentWrapper {
                text-align: left;
                max-width: 50%;

                .ctaWrapper {
                    a.primaryButton {
                        margin: 0;
                    }
                }
                span {
                    color: #0ADE93;
                }
            }
    
            .imageWrapper {
                display: flex;
                width: 40%;
                justify-content: center;
            }
        }
    
        .strategySection {
    
            .DSL_strategy {
    
              .strategy_cards {
                display: flex;
                justify-content: space-between;
                white-space: unset;
                overflow-x: unset;

                .card {
                    max-width: 30%;

                    img {
                        width: 100%;
                    }

                    div {
                        padding: 24px;
    
                        h5 {
                            font-size: 18px;
                        }
    
                        p {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        }
                    }
                }  
    
            }
    
            .offering {
                .offering_cards {
                    display: flex;
                    justify-content: space-between;
    
                    .card {
                        height: 164px;
                        width: 18%;
                        padding: 20px;
                        display: flex;
                        align-items: center;
                        position: relative;
    
                        &:nth-child(even) {
                            margin-top: 164px;
                        }
    
                        span {
                            padding: 16px;
                            border-radius: 32px;
                            height: 16px;
                            width: 16px;
                            text-align: center;
                            position: absolute;
                            top: -24px;
                            left: 24px;
                        }
                    }
                }
            }   
        }
    
        .openSlotSection {

    
            .should_Flex {
                margin-top: 64px;

                &:nth-of-type(2) {
                    flex-direction: row-reverse;
                }

                .contentWrapper {
                    background: #0C0D10;
                    width: 100%;
                    height: 384px; 
                    max-width: 100%;
                    padding: 0 48px 0;
                    margin-bottom: 0;
    
                    h4 {
                        margin-top: 72px;
                    }
                }

                .imageWrapper {
                    display: none;
                }
            }
        }
    
        .admission_process_Section {
            .processWrapper {
                .steps {
                    .step {
                        display: flex;
                        margin-bottom: 64px;
        
                        & > div {
                            display: flex;
                            margin-left: 32px;
        
                            div {
                                margin-left: 24px;
                                span {
                                    font-size: 14px;
                                    line-height: 140%;
                                }
                                p {
                                    font-size: 18px;
                                    max-width: 80%;
                                }
                            }
                        }
        
                        h2 {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 72px;
                            width: 108px;
                            line-height: 48px;
                        }
                    }
                }
                .imageWrapper {
                    display: none;
                }
            }
        } 
    }
}

@media only screen and (min-width: 1025px) {

    .STS_PageWrapper {
        .openSlotSection {

            .contentWrapper {
                margin-bottom: 0;
            }
    
            .should_Flex {
                margin-top: 64px;
                
                &:nth-of-type(2) {
                    flex-direction: row-reverse;
                }

                .contentWrapper {
                    background: #0C0D10;
                    width: auto;
                    height: 384px; 
                    max-width: 60%;
                    padding: 0 48px 0;
                    margin-bottom: 0;
    
                    h4 {
                        margin-top: 72px;
                    }
                }

                .imageWrapper {
                    display: block;
                    border: none;
                }
                        
            }
    
        }
    
        .admission_process_Section {
            .processWrapper {
                .steps {
                    .step {
                        display: flex;
                        margin-bottom: 64px;
        
                        & > div {
                            display: flex;
                            margin-left: 32px;
        
                            div {
                                margin-left: 24px;
                                span {
                                    font-size: 14px;
                                    line-height: 140%;
                                }
                                p {
                                    font-size: 18px;
                                    max-width: 80%;
                                }
                            }
                        }
        
                        h2 {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 72px;
                            width: 108px;
                            line-height: 48px;
                        }
                    }
                }
                .imageWrapper {
                    display: block;
                    border: none;
                }
            }
        }
    }
}