$hpvMobile: 24px; // horizontal Padding Value Mobile
$hpvTablet: 40px; // horizontal Padding Value Mobile
$hpv: 80px; // horizontal Padding Value
// $vpv: 124px; // vertical Padding Value for sections

.modal {
  display: none;
}

.modal.active {
  display: block;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  position: fixed;
  background: rgba(23, 23, 23, 0.697);
}

header {
  padding: 24px $hpvMobile;
}

.headerWrapper {
  position: sticky;
  width: 100%;
  top: 0;
  transition: top 0.4s ease-out;
  z-index: 20;
  background: #020204;
}

footer {
  padding: 0 $hpvMobile;
}

.headerWrapper {
  // position: fixed;
  width: 100%;
}

form {
  h3 {
    margin-bottom: 0.5rem;
  }

  span {
    display: block;
    margin-bottom: 1.5rem;
  }

  input {
    background: #020204;
    border: 1px solid #18181b;
    color: #71717a;
    padding: 1rem 2rem 1rem 1rem;
    width: 38%;

    &[type="text"] {
      color: #a5acaf;
    }
  }

  button {
    font-family: "Mona-Sans-Light";
    padding: 1rem;
    background: #217960;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;

    svg {
      margin-left: 12px;
    }
  }
}



main {
  section {
    padding: 0 $hpvMobile;
    display: block;

    &:first-of-type {
      padding-top: 40px;
    }

    a.primaryButton {
      padding: 1rem;
      background: #217960;
      color: #fff;
      margin-right: 1.5rem;
      max-width: 40%;

      svg {
        margin-left: 12px;
      }
    }

    .sectionLabel {
      width: 100%;
      // display: none;
      background: #0c0d10;
      text-align: center;
      padding: 10px 0;
      margin-top: 32px;
    }

    .contentWrapper {
      max-width: 100%;
      margin-bottom: 48px;

      h1,
      h4,
      h5 {
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 16px;
      }

      .ctaWrapper {
        display: flex;
        text-align: center;

        form {
          display: flex;
          input {
            width: 35%;
          }
        }

        a.primaryButton {
          padding: 1rem;
          background: #217960;
          color: #fff;
          margin-right: 1.5rem;
          display: block;
          width: 50%;

          svg {
            margin-left: 12px;
          }
        }

        a.secondaryButton {
          padding: 1rem 2rem;
          background: #0c0d10;
          border: 1px solid #217960;
          color: #fff;
          display: block;
          width: 50%;
        }
      }
    }
  }

  .section_flex {
    display: block;
  }

  .section_with_subSections {
    display: block;
    padding: 0;

    & > .should_Flex {
      display: block;
      padding: 0 $hpvMobile;
      margin-top: 48px;

      .contentWrapper {
        width: auto;
      }

      .imageWrapper {
        border: 1px solid #01DD82;
        position: relative;

        .edgbeIcon {
          width: 16px;
          height: 16px;
          background-image: url('../src/images/brandAssets/egbe.svg');
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 5px;
          position: absolute;
          top: -2px;
          left: -2px;

          &:nth-of-type(2) {
            right: -8px;
            left: unset;
            // top: 0;
            transform: rotate(90deg);
          }

          &:nth-of-type(3) {
            // right: -8px;
            left: -2px;
            bottom: -2px;
            top: unset;
            transform: rotate(-90deg);
          }

          &:nth-of-type(4) {
            right: -8px;
            left: unset;
            bottom: -2px;
            top: unset;
            transform: rotate(180deg);
          }
        }

        img {
          width: 100%;
        }
        // something generic could be here
      }
    }

    & > .should_stack {
      margin-top: 48px;
      padding: 0 $hpvMobile;
    }

    & > .should_grid {
      padding: 0 $hpvMobile;
    }
  }
}

@media only screen and (min-width: 600px) {
  .modal {
    display: none;
  }

  header,
  footer {
    padding: 32px $hpvTablet;
  }

  form {
    button {
      font-size: 16px;
      padding: 1rem;
    }
    input {
      padding: 1rem;
      // width: 60%;
    }
  }

  .headerWrapper {
    // position: fixed;
    width: 100%;
  }

  main {
    section {
      padding: 0 $hpvTablet;
      height: auto;

      a.primaryButton {
        padding: 1rem 2rem;
      }

      .sectionLabel {
        margin-top: 78px;
      }

      .ctaWrapper {
        display: flex;

        a.primaryButton {
          padding: 1rem 2rem;
          margin-right: 1.5rem;
          width: auto;

          svg {
            margin-left: 12px;
          }
        }

        a.secondaryButton {
          padding: 1rem 2rem;
          background: #0c0d10;
          border: 1px solid #217960;
          color: #fff;
          width: auto;
        }
      }

      .contentWrapper {
        max-width: 60%;

        h1,
        h4,
        h5 {
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 2rem;
        }

        .ctaWrapper {
          display: flex;

          form {
            input {
              min-width: 200px;
            }
            button {
              min-width: 120px;
            }
          }

          a.primaryButton {
            padding: 1rem 2rem;
            margin-right: 1.5rem;
            width: auto;

            svg {
              margin-left: 12px;
            }
          }

          a.secondaryButton {
            padding: 1rem 2rem;
            background: #0c0d10;
            border: 1px solid #217960;
            color: #fff;
            width: auto;
          }
        }
      }
    }

    .section_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .imageWrapper {
        img {
          width: 200px;
        }
      }
    }

    .section_with_subSections {
      padding: 0;

      & > .should_Flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        padding: 0 $hpvTablet;
        margin-top: 108px;

        .contentWrapper {
          width: 45%;
        }

        .imageWrapper {
          padding: 0;
          img {
            width: 340px;
            // display: none;
          }
          // something generic could be here
        }
      }

      & > .should_stack {
        margin-top: 108px;
        padding: 0 $hpvTablet;
      }

      & > .should_grid {
        padding: 0 $hpvTablet;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .modal.active {
    display: none;
  }

  header,
  footer {
    padding: 42px $hpv;
  }

  main {
    section {
      padding: 0 $hpv;
      // max-width: 1300px;
      // margin: 0 auto !important;

      &.no-max {
        max-width: unset;
      }

      .contentWrapper {
        max-width: 60%;

        h1,
        h4,
        h5 {
          margin-bottom: 2rem;
        }

        p {
          margin-bottom: 3rem;
        }

        .ctaWrapper {
          display: flex;

          form {
            input {
              max-width: 40%;
            }
            button {
              min-width: 120px;
            }
          }

          a.primaryButton {
            padding: 1rem 2rem;
            margin-right: 1.5rem;
            width: auto;

            svg {
              margin-left: 12px;
            }
          }

          a.secondaryButton {
            padding: 1rem 2rem;
            background: #0c0d10;
            border: 1px solid #217960;
            color: #fff;
            width: auto;
          }
        }
      }
    }

    .section_flex {
      .imageWrapper {
        img {
          width: auto;
        }
      }
    }

    .section_with_subSections {
      & > .should_Flex {
        padding: 60px $hpv;
        margin-top: 108px;

        .contentWrapper {
          width: 45%;
        }

        .imageWrapper {
          padding: 0;
          img {
            width: 100%;
          }
          // something generic could be here
        }
      }

      & > .should_stack {
        margin-top: 108px;
        padding: 0 $hpv;
      }

      & > .should_grid {
        padding: 0 $hpv;
      }
    }
  }
}

.desktopMaxWidth {
  max-width: 1700px;
  margin: 0 auto !important;
}

a {
  color: unset;
}
