$hpv: 80px; // horizontal Padding Value
$hpvMobile: 24px; // horizontal Padding Value Mobile
// $vpv: 124px; // vertical Padding Value for sections

header {
    padding: 24px $hpvMobile;
}

footer {
  padding: 0 $hpvMobile;
}

.headerWrapper {
    // position: fixed;
    width: 100%; 
}

form {
  
    h3 {
      margin-bottom: 0.5rem;
    }

    span {
        display: block;
        margin-bottom: 1.5rem;
    }

    input {
      background: #020204;
      border: 1px solid #18181B;
      color: #71717A;
      padding: 1rem 2rem 1rem 1rem;
      width: 38%;

      &[type="text"] {
        color: #A5ACAF;
      }

    }

    button {
      font-family: 'Mona-Sans-Light';
      padding: 1rem;
      background: #217960;
      color: #fff;
      text-transform: capitalize;
      font-size: 14px;

      svg {
        margin-left: 12px;
      }

    }

  }

main {

    section {
        padding: 0 $hpvMobile;
        display: block;

        &:first-of-type {
          padding-top: 40px;
        }

        a.primaryButton {
            padding: 1rem;
            background: #217960;
            color: #fff;
            margin-right: 1.5rem;
            max-width: 40%;

            svg {
              margin-left: 12px;
            }
        }

        .sectionLabel {
            width: 100%;
            // display: none;
            background: #0C0D10;
            text-align: center;
            padding: 10px 0;
            margin-top: 32px;
        }

        .contentWrapper {
            max-width: 100%;
            margin-bottom: 48px;

            h1,h4,h5 {
                margin-bottom: 16px;
            }

            p {
                margin-bottom: 16px;
                font-size: 16px;
            }

            .ctaWrapper {
                display: flex;
                text-align: center;

                form {
                  display: flex;
                  input {
                    width: 35%;
                  }
                }

                a.primaryButton {
                  padding: 1rem;
                  background: #217960;
                  color: #fff;
                  margin-right: 1.5rem;
                  display: block;
                  width: 50%;
    
                  svg {
                    margin-left: 12px;
                  }
              }
    
              a.secondaryButton {
                  padding: 1rem 2rem;
                  background: #0C0D10;
                  border: 1px solid #217960;
                  color: #fff;
                  display: block;
                  width: 50%;
              }
            } 
        } 
    }

    .section_flex {
      display: block;
    }

    .section_with_subSections {
        display: block;
        padding: 0;

        & > .should_Flex {
            display: block;
            padding: 0 $hpvMobile;
            margin-top: 48px;

            .contentWrapper {
                width: auto;
            }

            .imageWrapper {
                img {
                  width: 100%;
                }
                // something generic could be here
            }

        }

        & > .should_stack {
          margin-top: 48px;
          padding: 0 $hpvMobile;
        }

        & > .should_grid {
            padding: 0 $hpvMobile;
        }
    }
}

@media screen and (min-width: 768px) {

  header, footer {
    padding: 42px $hpv;
  }

  .headerWrapper {
      // position: fixed;
      width: 100%; 
  }

  form {
    button {
      font-size: 16px;
      padding: 1rem 2rem;
    }
    input {
      padding: 1rem 4rem 1rem 1rem;
    }
  }

  main {
      display: flex;
      align-items: center;
      justify-content: space-between;

      section {
        padding: 0 $hpv;
        height: 100vh;

        a.primaryButton {
          padding: 1rem 2rem;
      }

      .sectionLabel {
        margin-top: 78px;
    }

      .ctaWrapper {
        display: flex;

        a.primaryButton {
          padding: 1rem 2rem;
          margin-right: 1.5rem;
          width: auto;

          svg {
            margin-left: 12px;
          }
      }

      a.secondaryButton {
          padding: 1rem 2rem;
          background: #0C0D10;
          border: 1px solid #217960;
          color: #fff;
          width: auto;
      }
    } 

        .contentWrapper {
            max-width: 60%;

            h1,h4,h5 {
                margin-bottom: 2rem;
            }

            p {
                margin-bottom: 3rem;
            }

            .ctaWrapper {
                display: flex;

                a.primaryButton {
                  padding: 1rem 2rem;
                  margin-right: 1.5rem;
                  width: auto;
    
                  svg {
                    margin-left: 12px;
                  }
              }
    
              a.secondaryButton {
                  padding: 1rem 2rem;
                  background: #0C0D10;
                  border: 1px solid #217960;
                  color: #fff;
                  width: auto;
              }
            } 
        } 
    }

    .section_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .section_with_subSections {
        height: unset;
        padding: 0;

        & > .should_Flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 60vh;
            padding: 0 $hpv;
            // padding: 0 80px;
            margin-top: 108px;

            .contentWrapper {
                width: 45%;
            }

            .imageWrapper {
                padding: 0;
                img {

                  width: 100%;
                }
                // something generic could be here
            }

        }

        & > .should_stack {
          margin-top: 108px;
          padding: 0 $hpv;
        }

        & > .should_grid {
            padding: 0 $hpv;
        }
    }
  }
}
