$base-font-size: 16px; // set the base font size to 16 pixels

@font-face {
  font-family: 'Mona-Sans';
  src: url('/typography/Mona-Sans.woff2') format('woff2'),
       url('/typography/Mona-Sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona-Sans-Light';
  src: url('/typography/Mona-Sans-Light.woff2') format('woff2'),
       url('/typography/Mona-Sans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona-Sans-LightWide';
  src: url('/typography/Mona-Sans-LightWide.woff2') format('woff2'),
       url('/typography/Mona-Sans-LightWide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona-Sans-MediumWide';
  src: url('/typography/Mona-Sans-MediumWide.woff2') format('woff2'),
       url('/typography/Mona-Sans-MediumWide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona-Sans-BoldWide';
  src: url('/typography/Mona-Sans-BoldWide.woff2') format('woff2'),
       url('/typography/Mona-Sans-BoldWide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: $base-font-size;
}


body {
  margin: 0;
  font-family: 'Mona-Sans', sans-serif;
  background: #020204;
  color: #fff;
  position: relative;
}

h1,h2 {
  font-family: 'Mona-Sans-BoldWide';
  font-weight: 700;
  line-height: 122.9%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 122.9%;
  text-transform: uppercase;
}

h4 {
  font-family: 'Mona-Sans-BoldWide';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: 'Mona-Sans-MediumWide';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

h6 {
  font-family: 'Mona-Sans-MediumWide';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  margin: 0;
  padding: 0;

}

a, input, button {
  font-family: 'Mona-Sans-LightWide';
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  text-decoration: none;
}

p {
  font-family: 'Mona-Sans-Light';
  font-style: lighter;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  color: rgb(204, 204, 204);
}

textarea,select,ul,li,input,button {
  all: initial;
}

// input {
//   all: initial;
// }

@media only screen and (min-width: 600px) {
  
  h1,h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 122.9%;
    text-align: left;
    text-transform: uppercase;
  }
  
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  
  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
  }
  
  h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
  }
  
  a, input {
    font-weight: 400;
    line-height: 15px;
  }
  
  p {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0.02em;
  }

  a, input, button {
    font-size: 16px;
  }
  
}

@media only screen and (min-width: 1025px) {

  h1,h2 {
    font-weight: 700;
    font-size: 4rem;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
  }

}
